[Desktop Entry]
Name=litos
Exec=litos %U
Icon=litos
DBusActivatable=false
Terminal=false
Type=Application
Categories=Utility;TextEditor;GTK;
MimeType=text/plain;
StartupNotify=true
